body {
    background-color : #D9E1E2;
    margin: 0;
}
.main-block {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-top;
}
.nav-bar {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F1F6D1;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    margin-top: 0px;
}
.icons-block {
    width: 20vw;
    display: flex;
    justify-content: space-around;
}
.icons-block li {
    list-style: none;
}
.search {
    border: 2px solid;
    padding: 4px;
    border-radius: 18px;
}
.search input {
    border: none;
    margin: 5px;
    background-color: #F1F6D1;
}
.user_block {
    width: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user_block button {
    border-radius: 20px;
    border-width: 0px;
    background-color: #8BE2EC;
    padding: 8px;
}
.question-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}
.side-block {
    width: 15vw;
    position: fixed;
    left: 0;
    top: 45px;
}
.content-block {
    width: 65vw;
    margin-left: 15px;
    background-color: white;
    padding: 20px;
    margin-top: 45px;
}

.question-user-logo {
    height: 50px;
    width: 50px;
}
.question-block-user-pictures {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
.home-question-search {
    width: 63vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-user-search {
    width: 50vw;
    height: 30px;
    border: 1px solid grey;
    border-radius: 18px;
}
.button-vertical-line {
    height: 20px;
    width: 2px;
    background-color: #000;
}
.home-option-button {
    width: 10vw;
    border-radius: 20px;
    padding: 5px;
}
.home-question-profile {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.home-question-block {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.home-answer-picture {
    width: 40vw;
    heigth: 150px;
}
.home-question-reaction {
    margin-top: 5px;
    width: 20vw;
    display: flex;
    justify-content: space-around;
}
.home-question-upvote {
    height: 30px;
    width: 100px;
    border-radius: 20px 0px 0px 20px;
    right: 0;
}
.home-question-down {
    height: 30px;
    width: 70px;
    border-radius: 0px 20px 20px 0px;
    left: 0;
}
.btn-comment {
    border-width: 0px;
}
.answer-btn {
    align-self: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}
.login-page {
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
    padding: 20px;
}
.input-textarea {
    width: 350px;
    height: 150px;
}