{% extends "base.html" %}

{% block sidecontent %}
    <ul>
        <li>About</li>
        <li>Careers</li>
        <li>Terms</li>
        <li>Privacy</li>
        <li>Acceptable Use</li>
        <li>Business</li>
        <li>Press</li>
        <li>Your Ad Choices</li>
        <li>Grievance Officer</li>
    </ul>
    <hr />    
{% endblock %}

{% block content %}
    <div class="home-question-search">
        <img 
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png" 
            class="question-user-logo" 
        />
        <input type="text" placeholder="What you want to ask or share" class="home-user-search" />
    </div>
    <div class="home-question-search">
        <button class="home-option-button">
            <a href="question/addQuestion/">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    height="1em" viewBox="0 0 512 512">
                    <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4
                     24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 
                     16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4
                      8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 
                      0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6
                       0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1
                        17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/>
                </svg> Post
            </a>
        </button>
    </div>
    <hr />
    {% for ques in questions %}
            <div class="home-question-block">
                <div class="home-question-profile">
                    <img 
                        src="https://icon-library.com/images/generic-user-icon/generic-user-icon-9.jpg" 
                        alt="Profile" 
                        class="question-block-user-pictures"    
                    />
                    <div>
                        <p>{{ ques.username }} . {% if ques.following %}Unfollow{% else %}Follow {% endif %}</p>
                        <p>{% if ques.is_answered %}Answered by {{ ques.answer_by }} . {{ ques.posted_date }} {% else %}No answer . Last updated on {{ ques.posted_date }} {% endif %}</p>
                    </div>
                </div>
                <h3>{{ ques.qes }}</h3>
                {% if ques.ans %}
                    <p>{{ ques.ans}}</p>
                    {% if ques.picture %}
                        <img src="https://qph.cf2.quoracdn.net/main-qimg-467cbd84e894d2f2d707f6ff160665d1" class="home-answer-picture"/>
                    {% endif %}
                    <div class="home-question-reaction">
                        <div>
                            <button class="home-question-upvote">
                                <a href="question/like/{{ques.id}}">
                                    Upvote 
                                </a>
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                                    <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 
                                    14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/>
                                </svg>
                                {% if ques.up_count > 0  %} . {{ques.up_count}} {% endif %}
                            </button>
                            <button class="home-question-down">
                                <a href="question/dislike/{{ques.id}}">
                                    <svg 
                                        xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                        <path d="M169.4 502.6c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 402.7 224 
                                        32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 370.7L86.6 329.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128z"/>
                                    </svg>
                                </a>
                                {% if ques.downvote_count > 0  %} . {{ques.downvote_count}} {% endif %}
                            </button>
                        </div>
                        <button class="btn-comment">
                            <svg 
                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 
                                480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 
                                9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/>
                            </svg> 
                            {% if ques.comments|length > 0%} {{ ques.comments|length }}{% endif %}
                        </button>
                    </div>
                {% else %}
                    <button class="answer-btn"><a href="question/answer/{{ques.id}}">Answer</a> <i class="fa-regular fa-pen-to-square"></i></button>
                {% endif %}
            </div>
            <hr />
    {% endfor %}
{% endblock %}
